@import "./colors.css";

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom : 20px;
    align-items: center;
    background-color: var(--main-background);
}

.navbarOptions p {
    display: inline;
    margin: 10px;
}

.navbarOptions a {
    text-decoration: none;
    color: var(--text);
}

.navbarOptions p:hover {
    color: var(--text-hover);
    cursor: pointer;
}

.navbar button {
    background-color: var(--main-background);
    padding: 15px;
    border-radius: 40px;
    border: 1px black solid;
}

.navbar button:hover {
    cursor: pointer;
    background-color: var(--tex)
}